<div class="m-2 row">
  <label for="<%= form_id %>" class="col-4 col-form-label">
    <%= form_label %>
  </label>
  <div class="col">
    <input
      type="<%= form_type %>"
      id="<%= form_id %>"
      name="<%= form_name %>"
      class="form-control"
      value="<%= form_value %>"
      placeholder="<%= form_placeholder %>"
    />
  </div>
</div>
