<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <style>
            body {
                background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
            }
            .container {
                background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
            }
            .card.m-3.p-3 {
                background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            }
        </style>
        <title>Review Detail</title>
    </head>
    <body>
        <%- include("navbar", { user }) %>
        <div class="d-flex justify-content-center">
            <div class="container m-2 p-2">
                <h1 class="text-center">Review Details</h1>
                <div class="card m-3 p-3">
                    <div class="card">
                        <div class="card-body">
                            <% if (review.id) { %>
                                <!-- put -->
                                <form action="/api/v1/reviews/<%= review.id %>?_method=PUT" method="POST">
                                    <input type="hidden" name="_method" value="PUT">
                            <% } else { %>
                                <!-- post -->
                                <form action="/api/v1/albums/<%= album_id %>/reviews/newreview" method="POST">
                            <% } %>
                                <%- include("form-template", {form_id: "title", form_name: "title", form_label: "Review Title:", form_type: "text", form_value: review.title, form_placeholder: ""}) %>
                                <%- include("form-template", {form_id: "text", form_name: "text", form_label: "Review Text:", form_type: "text", form_value: review.text, form_placeholder: ""}) %>
                                <%- include("form-template", {form_id: "rating", form_name: "rating", form_label: "Rating:", form_type: "number", form_value: review.rating, form_placeholder: ""}) %>
                                <% if (review.id) { %>
                                    <%- include("form-template", {form_id: "album", form_name: "album", form_label: "Album:", form_type: "text", form_value: review.album.id, form_placeholder: ""}) %>
                                <% } else { %>
                                    <% if (!review.album) { %>
                                        <% if (!album_id) { %>
                                            <div class="m-2 row">
                                                <label for="album" class="col-4 col-form-label">Album:</label>
                                                <div class="col">
                                                    <select class="form-select" id="album" name="album" aria-label="select">
                                                        <option selected>Select Album</option>
                                                        <% albums.map(album => { %>
                                                            <option value="<%= album.id %>"><%= album.album_name %></option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <%- include("form-template", {form_id: "album", form_name: "album", form_label: "Album ID:", form_type: "text", form_value: album_id, form_placeholder: ""}) %> 
                                        <% } %>
                                    <% } %>
                                <% } %>

                                <div class="m-3 row">
                                    <a type="button" class="btn btn-secondary form-control col mx-1" href="/api/v1/reviews">Return to Reviews</a>
                                    <% if (review.id) { %>
                                        <input type="submit" class="btn btn-primary form-control col mx-1" value="Submit" formaction="/api/v1/reviews/<%= review.id %>?_method=PUT" formmethod="POST"/>
                                        <a type="button" class="btn btn-secondary form-control col mx-1" href="/api/v1/reviews/<%= review.id %>">Cancel</a>
                                    <% } else { %>
                                        <input type="submit" class="btn btn-primary form-control col mx-1" value="Submit" formaction="/api/v1/albums/<%= album_id %>/reviews" formmethod="POST"/>
                                    <% } %>
                                </div>

                                <div class="m-3 row">
                                    <p><%= msg %></p>
                                    <% if (review.createdAt) { %>
                                        <p>Created at: <%= review.createdAt %></p>
                                    <% } %>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>